<div class="card text-center">
    <div class="card-header">
      Profile
    </div>
    <div class="card-body">
      <img src="../../assets/images/2020_08_27_16_09_IMG_1976.JPG" style="width: 15rem;">
      <h5 class="card-title">Metaverse Devloper Internship</h5>
      <p class="card-text">Nama : Geri Dwi Handika</p>
      <p class="card-text">Nim : 6701204028</p>
      <p class="card-text">Kelas : D3SI4402</p>
      <p class="card-text">Berpisah sakit bertahan sakit, tapi lebih baik pisah dan sakit dari pada bersama selalu menahan rasa sakit</p>
      <h5 class="card-title">ANJASSS KELASSS, BEK BEK BEKKKK</h5>
      <a href="#" class="btn btn-primary"> LOGOUT</a>
    </div>
    <div class="card-footer text-muted">
      pernahbertahantapidikecewakan.com
    </div>
  </div>